footer{
  padding-top: 50px;
  padding-bottom: 25px;
  .logo{
    align-self: end;
    a{
      margin-right: 20px;
    }
    a:last-child{
      margin-right: 0px;
    }
  }
  .phone{
    float: right;
    clear: both;
    display: block;
    margin-top: 20px;
    a{
      font-weight: bold;
      font-size: 2.5rem;
      font-family: $fontOswald;
      color: white;
      float: right;
      margin-top: 20px;
    }
  }
  .address{
    align-self: end;
    margin: 40px 0px;
    h3{
      color: white;
      margin-bottom: 0.5rem;
    }
  }
  .social{
    float: right;
    clear: both;
    display: block;
    padding-top: 25px;
    a:hover{
      opacity: 0.8;
    }
    img{
      margin-left: 20px;
      float: right;
    }
  }
}
.subfooter {
    display: flex;
    flex: 0;
    justify-content: space-between;
    align-items: flex-end;
    padding: 25px 0;
    text-align: center;
    .phone {
        margin-bottom: 1.5rem;
        font-size: 1.5625rem; // 25px
    }
}
// FOOTER
.site-footer {
    background-color: $primaryColor;
    color: #fff;
    z-index: 99;
    position: relative;

    .copyright {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 300;
    }

    .netgain {
        font-family: Arial, sans-serif;
        font-size: 1.6rem;
    }
}

.flex-footer {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    padding-top: 1.5rem;
    .f-item {
        flex: 1 0 50%;
        padding-bottom: 1.5rem;
    }
}
.netgain {
    text-align: right;
}
.footer-contact-container {
    text-align: center;
    background-color: $darkGray;
    color: #fff;
    padding: 60px 0px;
    h3{
      font-size: 3rem;
    }

}
