.main-nav {

    #menu-main-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-right: 0.5rem;
        float: right;
        // Top level
        li {
            display: inline-block;
            position: relative;
            line-height: 32px;
            margin-bottom: 0px;
            margin-left: 15px;
            transition: box-shadow 0.2s ease-in-out;
            a {
                display: block;
                padding: 1.5rem 1rem;
                color: $primaryColor;
                &:hover {
                    color: $secondaryColor;
                }
            }
            // Second level menu
            .sub-menu {
                position: absolute;
                line-height: 1.5;
                width: 350px;
                background-color: $primaryColor;
                box-shadow: 2px 2px 20px rgba(black,0.25);
                max-height: 0;
                z-index: 10;

                transition: max-height 0s;
                ul {
                    padding-top: 30px;
                }
                li {
                    display: block;
                    margin-bottom: 0px;
                    color: white;
                    a {
                        padding: 1rem 2rem;
                        color: white;
                        font-size: 2rem;

                        // second level menu hover/active
                        &:hover,
                        &.active {
                          background-color: $secondaryColor;
                          color: #fff;
                        }
                    }
                }
                .current-menu-item a{
                  background-color: $secondaryColor;
                  color: #fff;
                }
                .menu-item-has-children:hover{
                  .sub-menu{
                    display: block;
                  }
                }
                .sub-menu{
                    position: absolute;
                    left: 350px;
                    top: 0;
                    padding-top: 0;
                    display: none;
                }
            } // end second level ul
            // Show second level menu on hover
            &:hover {
                .sub-menu {
                    z-index: 10;
                    max-height: 1000px;
                    transition: all 0.2s ease-in-out;
                }
            }
            &:hover,
            &.active {
                padding: 0px 0px;

            }
            &.current-menu-item, &.current-menu-parent{
              padding: 0px 0px;
            }
        } // end top level li
    } // end top level ul
}
.sticky-header{
  .main-nav #menu-main-menu li {
    line-height: 30px;
  }
}
// Get a Quote button
.get-quote {
    background-color: $secondaryColor;
    color: white;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    margin-left: 10px;
    margin-bottom: -1px;
    width: inherit;
    font-size: 2.2rem;
    width: initial;
    padding: 15px 25px;
    float: right;
    order: 2;
    flex-direction: row;
    font-weight: bold;
    float: right;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    &:hover {
        color: #fff;
        background-color: darken($primaryColor,8%);
    }
    &:focus {
        color: #fff;
    }
}
.get-quote:hover {
    background-color: $primaryColor;
    color: white;
    transition: background-color 0.2s ease-in-out;
    -webkit-box-shadow: inset 0 0px 0 #2a3249;
    box-shadow: inset 0 0px 0 #2a3249;
    a{
      color: white;
    }
}
