@media only screen and (max-width: 1800px) {
  .container-r .f-info {
      padding: 8rem 2rem 2rem 23rem;
      color: white;
  }
}
@media only screen and (max-width: 1625px) {
  .slider-content .inner-content {
      position: relative;
      top: 0px;
      margin: auto;
      width: 100%;
      max-width: 1140px;
      padding: 20px;
  }
  .container-r .f-info {
      padding: 8rem 2rem 2rem 15rem;
      color: white;
  }
}
@media only screen and (max-width: $screen-lg-min) {
  .flex-header {
      width: 100%;
      .logo,
      .stickylogo {
          padding-left: 1rem;
      }
      .header-block {
          .inner-block {
              padding-right: 1rem;
          }
      }
  }
  .close-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    z-index: 9999999999;
    background-color: darken($primaryColor,10%);
    border-bottom: 1px solid darken($primaryColor,15%);
    color: #fff;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transform: translateX(-400px);
    transition: transform 0.15s ease-in-out;
    &.open {
        max-width: 100%;
        transform: translateX(0);
    }
  }
  .nav-toggle {
      display: none;
      font-size: 2.5rem;
      line-height: 45px;
      padding: 0 1rem;
      background: $secondaryColor;
      color: #fff;
      &:focus,
      &:hover {
          color: #fff;
      }
  }
  .page-id-168{
    .slider-content .inner-content {
        left: 0;
    }
  }
  .slider-content .inner-content {
      left: 100px;
      p, h1, h3 {
        margin-bottom: 2rem;
      }
  }
  .container-r .f-info {
      padding: 4rem 1rem 4rem 4rem;
      min-width: 50%;
  }
  .scannerequipmentsection{
    .col{
      margin: 0px;
      flex: 0 0 47%;
      max-width: 50%;
      padding: 0px;
      box-shadow: 5px 5px 11px 3px #a3a3a3;
      margin-bottom: 4rem;
    }
  }
}
@media only screen and (max-width: $screen-md-min) {
  .solutionsection{
    .justify-content-between{
      justify-content: center!important;
      .col{
        background-color: #E6E7E8;
        margin: 0px;
        flex: 0 0 47%;
        padding: 0px;
        margin: 10px;
      }
    }
  }
  .sticky-header .flex-header .mobile-icons a {
      margin-top: 1px;
  }
  .flex-header .header-block {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      .topbuttons {
          top: 0px;
          position: relative;
          .button {
              padding-top: 10px;
          }
      }
  }
  .container-r .f-info {
      padding: 4rem 10rem 4rem 4rem;
      min-width: 100%;
      clear: both;
      float: left;
      display: block;
      a {
        margin-top: 2rem;
    }
  }
  .viewproducts p {
    text-align: left;
    float: left;
  }
  .header-nav{
    .container{
      width: 100%;
    }
  }
  .flex-header .logo img {
      padding-bottom: 20px;
  }
  .slider-content .inner-content {
      padding: 20px;
  }
  .slick-home-next, .slick-home-prev {
    top: 20%;
  }
  .flex-header .mobile-icons {
      display: block;
  }
  .phone, .get-quote{
    display: none;
  }
  .nav-toggle {
      display: block;
      margin-right: 2px;
  }
  .sticky-header {
    .mobile-icons{
      a{
        line-height: 60px;
        float: right;
        margin-right: 20px;
      }
    }
    .nav-toggle {
        line-height: 60px;
        float: right;
    }
  }
  .close-nav {
      display: block;
  }
  .main-nav {
      display: none;
  }
  .sticky-header {
      .product-mast {
          background-position: 84% 60px;
      }
  }
  .flex-footer {
      flex-direction: row;
      .f-item {
          min-width: 100%;
          flex-basis: 100%;
          text-align: center;
      }
      .footer-nav {
          order: 1;
      }
      .netgain {
          order: 3;
      }
      .copyright {
          order: 4;
      }
  }
  .subfooter {
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .f-item {
          flex-basis: 50%;
          flex: 1;
          margin-bottom: 1.5rem;
      }
      .phone-assoc {
          flex-basis: 100%;
      }
  }
  .ourteam{
    .col{
      margin-bottom: 25px;
    }
    .col:last-child{
      margin-bottom: 0px;
    }
  }
  body.sticky-header {
      margin-top: 210px;
  }

  footer{
    .social {
        float: none;
        clear: both;
        display: block;
        text-align: center;
        a{
          float: none;
          display: inline-block;
        }
    }
    .address{
      margin-bottom: 0px;
    }
    .phone {
        float: none;
        clear: both;
        display: block;
        padding: 25px 0px;
    }
    .phone a {
        display: block;
        color: white;
        float: none;
        margin-top: 20px;
    }
  }
  .servicesection .row .borderLR {
      border-left: 2px solid white;
      border-right: 0px solid white;
  }
  .flex-header {
      justify-content: center;
      .mobile-icons {
          display: block;
          float: right;
          width: 100%;
          margin-top: 5.5px;
          a{
            line-height: 50px;
            float: right;
            margin-right: 20px;
            margin-top: 7px;
          }
          a:first-child{
            margin-right: 0px;
          }
      }
      .header-block {
          .title {
              font-size: 1.5rem;
          }
          .phone {
              a {
                  font-size: 1.5rem;
              }
          }
      }
      .cat-social {
          .button {
              margin-right: 0.4rem !important;
          }
      }
      .logo {
          -webkit-box-flex: 0;
          -ms-flex: 0;
          flex: none;
          margin-bottom: 1px;
          padding-left: 1rem;
          float: none;
          width: 100%;
          text-align: center;
      }
  }
  .mobilecover{
    background-size: cover;
  }
  .footer-form .submit-container {
      margin-top: 5px;
      -webkit-box-flex: 0;
      -ms-flex: 0;
      flex: 0;
      flex-basis: 47%;
  }
  .mainidustriesservices .row {
      padding: 25px 20px;
  }
  .scannerequipmentsection{
    .col{
      margin: 0px;
      flex: 0 0 100%;
      padding: 0px;
      box-shadow: 5px 5px 11px 3px #a3a3a3;
      margin-bottom: 4rem;
      max-width: 100%;
    }
  }
  .membershipsection .col {
      -ms-flex-item-align: center;
      align-self: center;
      margin-bottom: 20px;
  }
  .compliancesection .box {
      max-width: 300px;
      border: 1px solid grey;
      padding: 0px 20px;
      margin-right: 20px;
      margin-left: 20px;
      margin-bottom: 20px;
  }
  img.marginB10{
    margin-bottom: 1rem!important;
  }
  .mobilemarginT{
    margin-top: 2rem!important;
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .cloudcompanysection{
    .col{
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 4rem;
    }
  }
  .solutionsection{
    .justify-content-between{
      justify-content: center!important;
      .col{
        background-color: #E6E7E8;
        margin: 0px;
        flex: 0 0 100%;
        padding: 0px;
        margin: 0px;
        max-width: 100%;
        margin-bottom: 2rem;
      }
    }
  }
  .intelligentsolutions .col {
      margin-bottom: 8rem;
      height: max-content;
  }
  .f-product .f-col {
      background: #fff;
      max-width: 400px;
      width: 100%;
      float: none;
      margin: auto;
      margin-top: 20px;
  }
  .product-line .slick-list {
      width: 240px;
      margin: auto;
  }
  .mast {
      &.page-mast,
      &.product-mast {
          .mast-overlay {
              padding: 2rem 1rem;
              width: 100%;
              max-width: 100%;
              background: $primaryColor;
              position: static;
              transform: none;
              text-align: center;
              h1 {
                  font-size: 2.5rem; // 35px
                  margin-bottom: 0px;
              }
              p{
                font-size: 2rem;
              }
              img {
                  margin: 1.5rem auto 0 auto;
              }
          }
          p:last-child {
              // margin-bottom: 1.5rem;
          }
      }
  }
  .sticky-header {
      .nav-toggle,
      .get-quote {
          line-height: 45px;
      }
      .header-nav {
          height: 60px;
          width: 100%;
      }
      .stickylogo {
          // display: none;
          padding-right: 1rem;
          flex: 0 1 50%;
          align-self: center;
      }
  }
  .mast {
      .mast-overlay {
          // display: none;
      }
  }
  .slick-home-next, .slick-home-prev {
      top: 10%;
      font-size: 3rem;
  }
  .meetourteam p {
      float: left;
      display: inline-block;
      margin-bottom: 40px;
      margin-top: 0px;
  }
  .flex-header .header-block .topbuttons .button {
      padding-top: 10px;
      margin-bottom: 10px;
  }
  body:not(.sticky-header) .flex-header .header-block {
      text-align: center !important;
  }
  .servicesection .row .borderLR {
      border-left: 0px solid white;
      border-right: 0px solid white;
  }
  .clientlogo{
    img{
      margin-bottom: 10px;
    }
  }
}

@media only screen and (max-width: $screen-xsm-max) {

    .wpcf7-form-control-wrap{
      margin-bottom: 1.5rem;
      height: 60px;
    }
    .Contactpage2 form {
        max-width: 100%;
        width: 100%;
        float: none;
        margin-left: .0px;
        padding-top: 25px;
    }
    .flex-header .logo {
        padding: 20px 0px;
    }

    .flex-header .logo img {
        max-width: 280px;
        width: 100%;
        padding: 0px;
    }
  .nav-contact{
    display: none;
  }
  .p-products{
    .pcard-img{
      margin: auto;
    }
  }
    body:not(.sticky-header) {
      .nav-phone, .nav-contact{
        display: block;
        font-size: 1.5rem;
      }
        .site-header {
            height: auto;
            padding: 0 1rem;
        }
        .flex-header {
          display: block;
          height: auto;
          min-height: 300px;
            .stickylogo {
              display: none;
            }
            .header-block {
                text-align: center !important;
                .inner-block {
                    align-items: center;
                    margin-bottom: 1rem;
                    padding: 0;
                }
            }
            .phone {
                text-align: center !important;
            }
        }
        .header-nav {
            margin-right: -1rem;
        }
    }
    .col-sm-12,
    .col-xsm-12,
    .col-md-12,
    .col-lg-12 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .g-recaptcha{
      transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;
    }

}
@media only screen and (max-width: 470px) {
  .flex-header .mobile-icons {
      margin-top: 5.5px;
  }
  body:not(.sticky-header) .flex-header {
      display: block;
      height: auto;
      min-height: 300px;
  }
   .nav-contact{
    display: none!important;
  }
}
@media only screen and (max-width: 413px) {
  body:not(.sticky-header) .flex-header {
      min-height: 350px;
  }
}
